In [1]:
import pandas as pd

In [2]:
from google.colab import files 
files.upload()

Saving nyc_weather.csv to nyc_weather.csv

{'nyc_weather.csv': b'EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees\r\n1/1/2016,38,23,52,30.03,10,8,0,5,,281\r\n1/2/2016,36,18,46,30.02,10,7,0,3,,275\r\n1/3/2016,40,21,47,29.86,10,8,0,1,,277\r\n1/4/2016,25,9,44,30.05,10,9,0,3,,345\r\n1/5/2016,20,-3,41,30.57,10,5,0,0,,333\r\n1/6/2016,33,4,35,30.5,10,4,0,0,,259\r\n1/7/2016,39,11,33,30.28,10,2,0,3,,293\r\n1/8/2016,39,29,64,30.2,10,4,0,8,,79\r\n1/9/2016,44,38,77,30.16,9,8,T,8,Rain,76\r\n1/10/2016,50,46,71,29.59,4,,1.8,7,Rain,109\r\n1/11/2016,33,8,37,29.92,10,,0,1,,289\r\n1/12/2016,35,15,53,29.85,10,6,T,4,,235\r\n1/13/2016,26,4,42,29.94,10,10,0,0,,284\r\n1/14/2016,30,12,47,29.95,10,5,T,7,,266\r\n1/15/2016,43,31,62,29.82,9,5,T,2,,101\r\n1/16/2016,47,37,70,29.52,8,7,0.24,7,Rain,340\r\n1/17/2016,36,23,66,29.78,8,6,0.05,6,Fog-Snow,345\r\n1/18/2016,25,6,53,29.83,9,12,T,2,Snow,293\r\n1/19/2016,22,3,42,30.03,10,11,0,1,,293\r\n1/20/2016,32,15,49,30.13,10,6,0,2,,302\r\n1/21/2016,31,11,45,30.15,10,6,0,1,,312\r\n1/22/2016,26,6,41,30.21,9,,0.01,3,Snow,34\r\n1/23/2016,26,21,78,29.77,1,16,2.31,8,Fog-Snow,42\r\n1/24/2016,28,11,53,29.92,8,6,T,3,Snow,327\r\n1/25/2016,34,18,54,30.25,10,3,0,2,,286\r\n1/26/2016,43,29,56,30.03,10,7,0,2,,244\r\n1/27/2016,41,22,45,30.03,10,7,T,3,Rain,311\r\n1/28/2016,37,20,51,29.9,10,5,0,1,,234\r\n1/29/2016,36,21,50,29.58,10,8,0,4,,298\r\n1/30/2016,34,16,46,30.01,10,7,0,0,,257\r\n1/31/2016,46,28,52,29.9,10,5,0,0,,241\r\n'}

In [3]:
df = pd.read_csv('nyc_weather.csv')
df

          EST  Temperature  DewPoint  ...  CloudCover    Events  WindDirDegrees
0    1/1/2016           38        23  ...           5       NaN             281
1    1/2/2016           36        18  ...           3       NaN             275
2    1/3/2016           40        21  ...           1       NaN             277
3    1/4/2016           25         9  ...           3       NaN             345
4    1/5/2016           20        -3  ...           0       NaN             333
5    1/6/2016           33         4  ...           0       NaN             259
6    1/7/2016           39        11  ...           3       NaN             293
7    1/8/2016           39        29  ...           8       NaN              79
8    1/9/2016           44        38  ...           8      Rain              76
9   1/10/2016           50        46  ...           7      Rain             109
10  1/11/2016           33         8  ...           1       NaN             289
11  1/12/2016           35        15  ...           4       NaN             235
12  1/13/2016           26         4  ...           0       NaN             284
13  1/14/2016           30        12  ...           7       NaN             266
14  1/15/2016           43        31  ...           2       NaN             101
15  1/16/2016           47        37  ...           7      Rain             340
16  1/17/2016           36        23  ...           6  Fog-Snow             345
17  1/18/2016           25         6  ...           2      Snow             293
18  1/19/2016           22         3  ...           1       NaN             293
19  1/20/2016           32        15  ...           2       NaN             302
20  1/21/2016           31        11  ...           1       NaN             312
21  1/22/2016           26         6  ...           3      Snow              34
22  1/23/2016           26        21  ...           8  Fog-Snow              42
23  1/24/2016           28        11  ...           3      Snow             327
24  1/25/2016           34        18  ...           2       NaN             286
25  1/26/2016           43        29  ...           2       NaN             244
26  1/27/2016           41        22  ...           3      Rain             311
27  1/28/2016           37        20  ...           1       NaN             234
28  1/29/2016           36        21  ...           4       NaN             298
29  1/30/2016           34        16  ...           0       NaN             257
30  1/31/2016           46        28  ...           0       NaN             241

[31 rows x 11 columns]

In [4]:
df['Temperature'].max()

50

In [5]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [6]:
df.fillna(0, inplace=True)
df['WindSpeedMPH'].mean()

6.225806451612903